.wrapper {
    --background-color: rgba(255, 255, 255);
    width: 100%;
    max-height: min((100vh - 96px) - 60px, 734px);
    min-height: 100px;
    background-color: var(--background-color);
    box-shadow: rgb(0 0 0 / 12%) 0px 2px 12px;
    border-radius: 8px;
    padding-top: 8px;
    overflow-y: auto;
    position: relative;
    display: flex;
    flex-direction: column;

    &.arrow {
        overflow-y: unset;
    }

    &.arrow::before {
        content: '';
        display: block;
        position: absolute;
        top: -28px;
        right: 15px;
        border-width: 14px;
        border-style: solid;
        border-color: transparent transparent var(--background-color) transparent;
    }
}
