.search,
.search-result {
    width: 361px;
}

.search {
    --width-btn-search: 52px;
    height: 46px;
    padding-left: 16px;
    background-color: rgba(22, 24, 35, 0.06);
    border-radius: var(--search-border-radius);
    display: flex;
    position: relative;
    border: 1.5px solid transparent;

    input {
        flex: 1;
        color: var(--black);
        height: 100%;
        font-size: 1.6rem;
        padding: 12px 0;
        background-color: transparent;
        caret-color: var(--primary);
        font-family: var(--font-family);
    }

    input:not(:placeholder-shown) ~ .search-btn {
        color: rgba(22, 24, 35, 0.75);
    }

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: var(--width-btn-search);
        transform: translateY(-50%);
        width: 1px;
        height: 28px;
        background-color: rgba(22, 24, 35, 0.12);
    }

    &:focus-within {
        border-color: rgba(22, 24, 35, 0.2);
    }
}

.search-tittle {
    font-size: 1.4rem;
    color: rgba(22, 24, 35, 0.5);
    font-weight: 600;
    padding: 5px 12px;
}

.clear,
.loading {
    position: absolute;
    right: calc(var(--width-btn-search) + 16px);
    top: 50%;
    transform: translateY(-50%);
    color: rgba(22, 24, 35, 0.34);
}

.loading {
    animation: spinner 1s linear infinite;
}

@keyframes spinner {
    from {
        transform: translateY(-50%) rotate(0);
    }
    to {
        transform: translateY(-50%) rotate(360deg);
    }
}

.search-btn {
    width: var(--width-btn-search);
    height: 100%;

    border-top-right-radius: var(--search-border-radius);
    border-bottom-right-radius: var(--search-border-radius);
    font-size: 1.8rem;
    color: rgba(22, 24, 35, 0.34);
    &:hover {
        background-color: rgba(22, 24, 35, 0.03);
        cursor: pointer;
    }
    &:active {
        background-color: rgba(22, 24, 35, 0.06);
    }
}
.search {
    input {
        padding-right: 40px;
    }
}
